{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
    {% include 'ad.html' %}
    <div class="topnews">
        {% if cid %}
            {% for c in cname %}
            <h2>{{ c.name }}</h2>
            {% endfor %}
        {% else %}
            <h2>最新文章</h2>
        {% endif %}
        {% for articles in article_list %}
        <div class="blogs">
            <ul>
                <h3><a href="{% url 'blog:index' %}?id={{ articles.id }}">{{ articles.name }} </a></h3>
                <p>{{ articles.describe }}</p>
                <p class="autor"><span class="lm f_l">{% for tag in articles.tag.all %}<a href="/">{{ tag.name }}</a>&nbsp;</span>{% endfor %}<span class="dtime f_l">{{ articles.date_publish | date:'Y-m-d' }}</span><span class="viewnum f_r">浏览（<a href="/">{{ articles.click_count }}</a>）</span><span class="pingl f_r">评论（<a href="/">{{ articles.comment_set.all.count }}</a>）</span></p>
            </ul>
        </div>
      {% endfor %}
    </div>
    {% include 'pagination.html' %}
{% endblock %}