{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
{% include 'ad.html' %}
<div class="topnews">
    <h2>{% if aid %}{{ cname }}{% else %}最新文章
        {% endif %}
    </h2>
    {% for article in article_list %}
    <div class="blogs">
        <ul>
            <h3><a href="{% url 'blog:articleinfo' %}?id={{ article.id }}">{{ article.name }}</a></h3>
            <p>{{ article.describe }}</p>
            <p class="autor"><span class="lm f_l"><a href="/">{{ article.tag.name }}</a>&nbsp;</span><span class="dtime f_l">{{ article.date_publish | date:'Y-m-d' }}</span><span class="viewnum f_r"><a href="/">浏览（{{ article.click_count }}）</a></span><span class="pingl f_r"><a href="/">评论（{{ article.comment_set.all.count }}）</a></span></p>
        </ul>
    </div>
    {% endfor %}
</div>
{% include 'pagination.html' %}
{% endblock %}