{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发表文章</title>
    <link href="{% static 'css/publish.css' %}" rel="stylesheet">
</head>
<body>
    <main role="main" class="container">
        <div class="row row-offcanvas row-offcanvas-right main-wrapper">
            <div class="col-6 col-md-2 sidebar-offcanvas" id="sidebar">
                <div class="list-group-item list-group-title">内容</div>
            <div class="list-group">
                <a href="#" class="list-group-item active" data-title="article">发表文章</a>
                <a href="#" target="_blank" class="list-group-item none">文章类型</a>
                <a href="#" class="list-group-item none" data-title="comment">评论管理</a>
                <a href="#" class="list-group-item none">个人分类管理</a>
                <a href="#" class="list-group-item none">Chat快问 <span class="newDom">new</span>  </a>
                <a href="#" class="list-group-item none">博客搬家</a>
            </div>
        </div>
        <form action="#" method="post">
            <div class="col-12 col-md-10" id="content-body">
                <div class="title-box">
                    请输入文章标题：<input type="text" id="txtTitle" maxlength="100" placeholder="输入文章标题">
                </div><br>
                <div class="section">
                    <textarea placeholder="输入文章内容" id="editor" name="editor" rows="30" style="width: 99.4%;height: 600px"></textarea>
                </div>
                <div id="moreDiv">
                    <div class="pos-box">
                        <div class="form-group row form-control-sm d-flex">
                            <label class="labTitle col-form-label">文章类型：</label>
                            <div class="txt-box">
                                <select id="selType">
                                    <option value="0">请选择</option>
                                    <option value="1">原创</option>
                                    <option value="2">转载</option>
                                    <option value="4">翻译</option>
                                </select>
                                <span class="required">*</span>&nbsp;&nbsp;
                            </div>
                            <label class="labTitle col-form-label ml-24">博客分类：</label>
                            <div class="txt-box">
                                <select class="droBlogType" id="radChl" name="radChl">
                                    <option value="0">选择分类</option>
                                        <option value='28'>人工智能</option>
                                        <option value='1'>移动开发</option>
                                        <option value='29'>物联网</option>
                                        <option value='15'>架构</option>
                                        <option value='2'>云计算/大数据</option>
                                        <option value='17'>互联网</option>
                                        <option value='30'>游戏开发</option>
                                        <option value='12'>运维</option>
                                        <option value='6'>数据库</option>
                                        <option value='14'>前端</option>
                                        <option value='31'>后端</option>
                                        <option value='16'>编程语言</option>
                                        <option value='3'>研发管理</option>
                                        <option value='32'>安全</option>
                                        <option value='33'>程序人生</option>
                                        <option value='34'>区块链</option>
                                        <option value='35'>音视频开发</option>
                                        <option value='36'>资讯</option>
                                        <option value='37'>计算机理论与基础</option>
                                </select>
                                <span class="required">*</span>
                            </div>
                        </div>
                        <div class="opt-box row unfull">
                            <div class="txt-box">
                                <input type="submit" class="btn btn-danger btn-fabu" value="发布">
                                <button class="btn btn-circle btn-shanchu" ><a href="/">返回首页</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
</body>
</html>